@CHARSET "ISO-8859-1";

@import url('https://fonts.googleapis.com/css?family=Palanquin+Dark|Roboto&display=swap');

/* Reset CSS
 * --------------------------------------- */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
form,fieldset,input,textarea,p,blockquote,th,td {
    padding: 0;
    margin: 0;
}
a{
	text-decoration:none;
}
table {
    border-spacing: 0;
}
fieldset,img {
    border: 0;
}
address,caption,cite,code,dfn,em,strong,th,var {
    font-weight: normal;
    font-style: normal;
}
strong{
	font-weight: bold;
}
ol,ul {
    list-style: none;
    margin:0;
    padding:0;
}
caption,th {
    text-align: left;

}
h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
    font-size: 100%;
    margin:0;
    padding:0;
    color:#444;
}
q:before,q:after {
    content:'';
}
abbr,acronym { border: 0;
}


/* Custom CSS
 * --------------------------------------- */
body{
	font-family: arial,helvetica;
	color: rgba(0,0,0,0.5);
}
.wrap{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
}
h1{
	color: white;
	font-size: 4.35rem;
    letter-spacing: -1px;
    font-weight: 600;
    font-family: 'Palanquin Dark', sans-serif;
    text-align: left;
    position: absolute;
    top: 240px;
    left: 66px;
    z-index: 2;
}
h2{
	color: #333;
	font-size: 1.7rem;
    letter-spacing: -1px;
    font-family: 'Roboto', sans-serif;
    text-align: left;
    position: absolute;
    top: 357px;
    left: 70px;
	z-index: 2;	
}
h3{
	color: white;
	font-size: 4.35rem;
    letter-spacing: -1px;
    font-weight: 600;
    font-family: 'Palanquin Dark', sans-serif;
    text-align: left;
    position: absolute;
    top: 240px;
    left: 66px;
    z-index: 2;
	
}
h4{
	color: lightgrey;
	font-size: 1.7rem;
    letter-spacing: -1px;
    font-family: 'Roboto', sans-serif;
    text-align: left;
    position: absolute;
    top: 357px;
    left: 70px;
	z-index: 2;	
}
h5{
	font-size: 1rem;
	font-family: 'Palanquin Dark', sans-serif;
	position: relative;
	top: 5px;
	left: 0px;
	z-index: 2;
}
h6{
	font-size: 0.7rem;
	font-family: 'Roboto', sans-serif;
	position: relative;
	margin-top: 10px;
	left: 0px;
	z-index: 2;
}

 .section{
	 text-align:center;
 }
 .section{
	 background-size: cover;
 }
 #section0 .fp-bg{
	 background-image: url(../img/alpi8.jpg);
	 background-size: cover;
	 background-position: center 80%;
 }
 #section1 .fp-bg{
	 background-image: url(../img/forest.jpg);
	 background-size: cover;
	 background-position: center 80%;
 }
 #section2 .fp-bg{
	 background-image: url(../img/new-york.jpg);
	 background-size: cover;
	 background-position: center 80%;
 }
 #section3 .fp-bg{
	 background-image: url(../img/alpi5.jpg);
	 background-size: cover;
	 background-position: center 80%;
 }
 #section4 .fp-bg{
	 background-image: url(../img/army.png);
	 background-size: cover;
	 background-position: center 80%;
 }
 #section5 .fp-bg{
	 background-color: antiquewhite;
 }
 #section6 .fp-bg{
	 background-image: url(../img/alpi9.jpg);
	 background-size: cover;
	 background-position: center 80%;
 }
 .logo-medo{
	position: absolute;
    top: 0px;
    left: 28px;
    padding: 40px;
    width: 10%;
    z-index: 4;
 }
 .celular{
	position: absolute;
    bottom: 0px;
    right: 200px;
    width: 50%;
    z-index: 3;
 }
 .fondo-muebles{
	position: absolute;
    bottom: 0px;
    right: 200px;
    width: 45%;
    z-index: 1;
 }
	.designer{
	width: 65%;
	margin: auto;
	margin-top: 50%;
}
 .mesinha{
	position: absolute;
    bottom: 0px;
    right: 170px;
    width: 40%;
    z-index: 3;
}
.forest{
	position: absolute;
    bottom: 0px;
    right: 0;
    width: 100%;
    z-index: 1;
 }
 .configurador{
	position: absolute;
    bottom: 0px;
    right: 115px;
    width: 50%;
    z-index: 3;
}
.kuka{
	position: absolute;
    bottom: 0px;
    right: -15px;
    width: 70%;
    z-index: 3;
 }

 @media only screen and (max-width: 500px) {
	.logo-medo{ /* MEDIA */
		position: absolute;
		top: 5px;
		left: 1px;
		padding: 40px;
		width: 25%;
		z-index: 4;
	}
	.celular{ /* MEDIA */
		position: absolute;
		bottom: 0px;
		right: -50px;
		width: 130%;
		z-index: 3;
	}
	.fondo-muebles{ /* MEDIA */
		position: absolute;
		bottom: 0px;
		right: -25px;
		width: 110%;
		z-index: 1;
	 }
	 .designer{ /* MEDIA */
		width: 70%;
		margin: auto;
		margin-top: 50%;
	}
	.mesinha{ /* MEDIA */
		position: absolute;
		bottom: 0px;
		right: 20px;
		width: 90%;
		z-index: 3;
	}
	.forest{ /* MEDIA */
		position: absolute;
		bottom: 0px;
		right: -265px;
		width: 215%;
		z-index: 1;
	}
	.configurador{ /* MEDIA */
		position: absolute;
		bottom: -15px;
		right: -45px;
		width: 120%;
		z-index: 3;
	}
	.kuka{ /* MEDIA */
		position: absolute;
		bottom: 0px;
		right: -50px;
		width: 130%;
		z-index: 3;
	}
	h1{ /* MEDIA */
		font-size: 2.5rem;
		font-family: 'Palanquin Dark', sans-serif;
		position: relative;
		top: 70px;
		left: 0px;
		z-index: 2;
		padding: 40px;
		line-height: 37px;
	}
	h2{ /* MEDIA */
		font-size: 1rem;
		font-family: 'Roboto', sans-serif;
		position: relative;
		top: 20px;
		padding: 40px;
		left: 0px;
		z-index: 2;
	}
	h3{ /* MEDIA */
		font-size: 2.5rem;
		font-family: 'Palanquin Dark', sans-serif;
		position: relative;
		top: 70px;
		left: 0px;
		z-index: 2;
		padding: 40px;
		line-height: 37px;
	}
	h4{ /* MEDIA */
		font-size: 1rem;
		font-family: 'Roboto', sans-serif;
		position: relative;
		top: 20px;
		padding: 40px;
		left: 0px;
		z-index: 2;
	}
	h5{ /* MEDIA */
		font-size: 1rem;
		font-family: 'Palanquin Dark', sans-serif;
		position: relative;
		top: 5px;
		left: 0px;
		z-index: 2;
	}
	h6{ /* MEDIA */
		font-size: 0.7rem;
		font-family: 'Roboto', sans-serif;
		position: relative;
		margin-top: 10px;
		left: 0px;
		z-index: 2;
	}
  }