@CHARSET "ISO-8859-1";

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,600,700&display=swap');

/* Reset CSS
 * --------------------------------------- */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
form,fieldset,input,textarea,p,blockquote,th,td {
    padding: 0;
    margin: 0;
}
a{
	text-decoration:none;
}
table {
    border-spacing: 0;
}
fieldset,img {
    border: 0;
}
address,caption,cite,code,dfn,em,strong,th,var {
    font-weight: normal;
    font-style: normal;
}
strong{
	font-weight: bold;
}
ol,ul {
    list-style: none;
    margin:0;
    padding:0;
}
caption,th {
    text-align: left;

}
h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
    font-size: 100%;
    margin:0;
    padding:0;
    color:#444;
}
q:before,q:after {
    content:'';
}
abbr,acronym { border: 0;
}


/* Custom CSS
 * --------------------------------------- */
body{
	font-family: 'Source Sans Pro', sans-serif;
	color: rgba(0,0,0,0.5);
}
.wrap{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
}
h1{
	color: white;
    letter-spacing: 2px;
    font-weight: 300;
    z-index: 2;
}
h2{
	color: #333;
	font-size: 1.7rem;
    letter-spacing: -1px;
    font-weight: 300;
    text-align: left;
    position: absolute;
    top: 357px;
    left: 70px;
	z-index: 2;	
}
h3{
	color: white;
	font-size: 4.35rem;
    letter-spacing: -1px;
    font-weight: 700;
    text-align: left;
    position: absolute;
    top: 240px;
    left: 66px;
    z-index: 2;
	
}
h4{
	color: lightgrey;
	font-size: 1.7rem;
    letter-spacing: -1px;
    font-family: 'Roboto', sans-serif;
    text-align: left;
    position: absolute;
    top: 357px;
    left: 70px;
	z-index: 2;	
}
h5{
	font-size: 1rem;
	font-family: 'Palanquin Dark', sans-serif;
	position: relative;
	top: 5px;
	left: 0px;
	z-index: 2;
}
h6{
	font-size: 0.7rem;
	font-family: 'Roboto', sans-serif;
	position: relative;
	margin-top: 10px;
	left: 0px;
	z-index: 2;
}

 .section{
	 text-align:center;
 }
  /* medo what you want Slide 1 + Foto persona tatuada */
 #section0 .fp-bg{
	 background-image: url(../img/tatuado-medo.jpg);
	 background-size: cover;
     background-position: center 80%;
/* medo what you want Slide 2*/
 }
 #section1 .fp-bg{
     background-color: #1D1D1B;
 }
 /* you do what you want Slide 2*/
 #section2 .fp-bg{
     background-image: url(../img/hibridos.png);
	 background-size: cover;
	 background-position: center 80%;
 }
 #section3 .fp-bg{
	 background-image: url(../img/alpi5.jpg);
	 background-size: cover;
	 background-position: center 80%;
 }
 #section4 .fp-bg{
	 background-image: url(../img/army.png);
	 background-size: cover;
	 background-position: center 80%;
 }
  /* medo what you want Slide 1 */
  #section5 .fp-bg{
	 background-color: antiquewhite;
 }
 /* medo what you want Slide 1 */
 #section6 .fp-bg{ 
	 background-image: url(../img/alpi9.jpg);
	 background-size: cover;
	 background-position: center 80%;
 }

.linea-divisora{
	height: 50px;
 }
 
.logo-medo{
    height: 25px;
    z-index: 4;
}

#section0 .linea-divisora{
    position: absolute;
    bottom: 10%;
    right: 25%;
}
#section0 .logo-medo{
	position: absolute;
    bottom: 10%;
    padding: 12.5px;
    right: 25%;
}
#section0 h1{
	position: absolute;
    bottom: 10%;
	left: 75%;
    font-size: 20px;
    padding: 12.5px;
}
#section1 .linea-divisora{
    position: absolute;
    bottom: 50%;
    right: 50%;
}
#section1 .logo-medo{
	position: absolute;
    bottom: 50%;
    padding: 12.5px;
    right: 50%;
}
#section1 h1{
	position: absolute;
    bottom: 50%;
    left: 50%;
    font-size: 20px;
    padding: 12.5px;
}

 .celular{
	position: absolute;
    bottom: 0px;
    right: 200px;
    width: 50%;
    z-index: 3;
 }
 .fondo-muebles{
	position: absolute;
    bottom: 0px;
    right: 200px;
    width: 45%;
    z-index: 1;
 }
	.designer{
	width: 65%;
	margin: auto;
	margin-top: 50%;
}
 .mesinha{
	position: absolute;
    bottom: 0px;
    right: 170px;
    width: 40%;
    z-index: 3;
}
.forest{
	position: absolute;
    bottom: 0px;
    right: 0;
    width: 100%;
    z-index: 1;
 }
 .configurador{
	position: absolute;
    bottom: 0px;
    right: 115px;
    width: 50%;
    z-index: 3;
}
.kuka{
	position: absolute;
    bottom: 0px;
    right: -15px;
    width: 70%;
    z-index: 3;
 }

 @media only screen and (max-width: 500px) {
	
	}
  }