@CHARSET "ISO-8859-1";

@import url('https://fonts.googleapis.com/css?family=EB+Garamond|Oswald&display=swap');

/* Reset CSS
 * --------------------------------------- */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
form,fieldset,input,textarea,p,blockquote,th,td {
    padding: 0;
    margin: 0;
}
a{
	text-decoration:none;
}
table {
    border-spacing: 0;
}
fieldset,img {
    border: 0;
}
address,caption,cite,code,dfn,em,strong,th,var {
    font-weight: normal;
    font-style: normal;
}
strong{
	font-weight: bold;
}
ol,ul {
    list-style: none;
    margin:0;
    padding:0;
}
caption,th {
    text-align: left;

}
h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
    font-size: 100%;
    margin:0;
    padding:0;
    color:#444;
}
q:before,q:after {
    content:'';
}
abbr,acronym { border: 0;
}


/* Custom CSS
 * --------------------------------------- */
body{
	font-family: arial,helvetica;
	color: #333;
	color: rgba(0,0,0,0.5);
}
.wrap{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
}
h1{
	font-size: 5em;
    font-family: 'Oswald', sans-serif;
    text-align: left;
    position: absolute;
    top: 240px;
    left: 70px;
}
h2{
	font-size: 2.5rem;
    font-family: 'EB Garamond', serif;
    text-align: left;
    position: absolute;
    top: 365px;
    left: 70px;
}

 .section{
	 text-align:center;
 }
 .section{
	 background-size: cover;
 }
 #section0{
	 background-image: url(../img/alpi8.jpg);
	 height:100%;
 }
 #section1{
	 background-image: url(../img/alpi1.jpg);
	 height:100%;
 }
 #section2{
	 background-image: url(../img/alpi9.jpg);
 }
 #section3{
	 background-image: url(../img/alpi5.jpg);
 }
 #section4{
	 background-image: url(../img/alpi8.jpg);
 }
 #section5{
	 background-image: url(../img/alpi1.jpg);
 }
 #section6{
	 background-image: url(../img/alpi9.jpg);
 }
 .logo-medo{
	 position: absolute;
	 top:0px;
	 left:0px;		
	 padding: 40px;
	 width: 15%;
 }
 .celular{
	position: absolute;
    bottom: -95px;
    right: 250px;
    width: 45%;
 }

 @media only screen and (max-width: 500px) {
	.logo-medo{
		position: absolute;
		top:70px;
		left:0px;		
		padding: 20px;
		width: 50%;
	}
	.celular{
		position: absolute;
		bottom: -70px;
		right: -75px;
		width: 135%;
	}
	h1{
		font-size: 2.5rem;
		font-family: 'Oswald', sans-serif;
		text-align: center;
		position: relative;
		top: 220px;
		left: 0px;
	}
	h2{
		font-size: 1.75rem;
    	font-family: 'EB Garamond', serif;
    	text-align: center;
    	position: relative;
		top: 230px;
		left: 0px;
	}
  }